<p class="links">
  {% if site.gitlab_username %}<a href="https://gitlab.com/{{ site.gitlab_username }}" target="_new"><i class="fab fa-gitlab"></i></a>
  &nbsp;
  {% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fab fa-github"></i></a>
  &nbsp;
  {% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fab fa-stack-overflow"></i></a>
  &nbsp;
  {% endif %}
  {% if site.reddit_username %}<a href="https://www.reddit.com/u/{{ site.reddit_username }}" target="_new"><i class="fab fa-reddit-alien"></i></a>
  &nbsp;
  {% endif %}
  {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fab fa-google-plus"></i></a>
  &nbsp;
  {% endif %}
  {% if site.facebook_link %}<a href="{{ site.facebook_link }}" target="_new"><i class="fab fa-facebook"></i></a>
  &nbsp;
  {% endif %}
  {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fab fa-twitter"></i></a>
  &nbsp;
  {% endif %}
  {% if site.instagram_username %}<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new"><i class="fab fa-instagram"></i></a>
  &nbsp;
  {% endif %}
  {% if site.xing_link %}<a href="{{ site.xing_link }}" target="_new"><i class="fab fa-xing"></i></a>
  &nbsp;
  {% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fab fa-linkedin-in"></i></a>
  &nbsp;
  {% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
